.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-success {
    color: #fff;
    background-color: var(--success);
    border-color: var(--success);
}

    .btn-success:hover {
        color: #fff;
        background-color: var(--success-hover);
        border-color: var(--success-hover);
    }

    .btn-success:active {
        color: #fff;
        background-color: var(--success-active);
        border-color: var(--success-active);
    }

.btn-gray-light {
    color: var(--black);
    background-color: var(--gray-light);
    border-color: var(--gray-light);
}

    .btn-gray-light:hover {
        color: var(--black);
        background-color: var(--gray-light-hover);
        border-color: var(--gray-light-hover);
    }

    .btn-gray-light:active {
        color: var(--black);
        background-color: var(--gray-light-active);
        border-color: var(--gray-light-active);
    }

.btn-light {
    color: var(--black);
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

    .btn-light:hover {
        color: var(--black);
        background-color: #f9fafb;
        border-color: #f9fafb;
    }

    .btn-light:active {
        color: var(--black);
        background-color: #f9fafb;
        border-color: #f9fafb;
    }

.btn-waiting {
    color: #fff;
    background-color: var(--waiting);
    border-color: var(--waiting);
}

    .btn-waiting:hover {
        color: #fff;
        background-color: var(--waiting-hover);
        border-color: var(--waiting-hover);
    }

    .btn-waiting:active {
        color: #fff;
        background-color: var(--waiting-active);
        border-color: var(--waiting-active);
    }

.btn-outline-success {
    color: var(--success);
    border-color: var(--success);
    background: transparent;
}

    .btn-outline-success:hover {
        color: #fff;
        background-color: var(--success-hover);
        border-color: var(--success-hover);
    }

    .btn-outline-success:active {
        color: #fff;
        background-color: var(--success-active);
        border-color: var(--success-active);
    }

.btn-outline-danger {
    color: var(--danger);
    border-color: var(--danger);
    background: transparent;
}

    .btn-outline-danger:hover {
        color: #fff;
        background-color: var(--danger);
        border-color: var(--danger);
    }

.btn-outline-gray {
    color: var(--gray);
    border-color: var(--border);
    background: transparent;
}

.btn-outline-waiting {
    color: var(--waiting);
    border-color: var(--waiting);
    background: transparent;
}

    .btn-outline-waiting:hover {
        color: #fff;
        background-color: var(--waiting-hover);
        border-color: var(--waiting-hover);
    }

    .btn-outline-waiting:active {
        color: #fff;
        background-color: var(--waiting-active);
        border-color: var(--waiting-active);
    }

.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
    cursor: not-allowed;
}

.card-cabinet {
    padding: 1rem 1.2rem;
    border: 1px solid #d1d1d1;
    background-color: white;
    transition: border-color 0.3s, background-color 0.3s;
}

    .card-cabinet:hover {
        background-color: #f5f5f5;
        border: 1px solid #8f8f8f;
    }

    .card-cabinet:active {
        background-color: #e2e2e2;
        border: 1px solid #858585;
    }

.card-cabinet-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: #616161;
}

.card-cabinet-icon {
    width: 1.7rem;
    margin-right: 0.6rem;
}

.card-cabinet-active {
    border: 1px solid var(--success);
}

    .card-cabinet-active:hover {
        background-color: rgba(25, 152, 98, 0.0509803922);
    }

    .card-cabinet-active:active {
        background-color: rgba(25, 152, 98, 0.1019607843);
    }

.card-cabinet-waiting {
    border: 1px solid var(--waiting);
}

    .card-cabinet-waiting:hover {
        background-color: rgba(var(--waiting-rgb), 0.05);
    }

    .card-cabinet-waiting:active {
        background-color: rgba(var(--waiting-rgb), 0.1);
    }

.status-card-count {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    margin-left: 0.3rem;
}

.status-flag {
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 1.25rem;
    padding: 0.15rem 0.4rem;
    width: max-content;
}

    .status-flag.status-flag-success {
        color: var(--success);
        background-color: rgba(25, 152, 98, 0.1019607843);
    }

    .status-flag.status-flag-warning {
        color: var(--warning);
        background-color: rgba(250, 163, 9, 0.1019607843);
    }

    .status-flag.status-flag-danger {
        color: var(--danger);
        background-color: rgba(var(--danger-rgb), 0.1);
    }

    .status-flag.status-flag-secondary {
        color: #797979;
        background-color: #f5f5f5;
    }

    .status-flag.status-flag-waiting {
        color: var(--waiting);
        background-color: rgba(var(--waiting-rgb), 0.1);
    }

    .status-flag.status-flag-red {
        color: var(--red);
        background-color: rgba(var(--red-rgd), 0.1);
    }

.blinds-effect {
    animation-name: blindsEffect;
    animation-duration: 1.1s;
}

.blinds-effect-faster {
    animation-name: blindsEffect;
    animation-duration: 0.3s;
}

@keyframes blindsEffect {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-danger {
    background-color: var(--danger);
    border-color: var(--danger);
    color: white;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
        color: white;
    }
