@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Light.woff2") format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Medium.woff2") format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
}

* {
    font-family: "Inter", sans-serif;
}
