#main {
    padding: 2rem 0 4rem 0;
    background-color: var(--body-bg);
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

p {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

h6 {
    font-size: 1rem;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-12 {
    font-size: 0.75rem;
}

.cursor {
    cursor: pointer;
}

.text-black {
    color: var(--black);
}

.text-muted {
    color: var(--gray);
}

.text-info {
    color: var(--info);
}

.text-success {
    color: var(--success);
}

.w-max-content {
    width: -moz-max-content;
    width: max-content;
}

.border-b {
    border-bottom: 0.0625rem solid var(--footer-bg);
}

.border-t {
    border-top: 0.0625rem solid var(--footer-bg);
}

.text-justify {
    text-align: justify;
}

.w-90 {
    width: 82%;
}

.w-48 {
    width: 48%;
}

.w-45 {
    width: 45%;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.b-none {
    border: none;
}

.rounded-5 {
    border-radius: 2rem;
}

.text-gray {
    color: var(--gray);
}

.fw-400 {
    font-weight: 400;
}

.text-blue {
    color: var(--blue);
}

.mt-25 {
    margin-top: 2.5rem;
}

.ellipsis-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.min-w-0 {
    min-width: auto;
}

.text-warning {
    color: var(--warning);
}
