/* Import all CSS files from the target website - in correct order */
@import url('variables.css');
@import url('fonts.css');
@import url('index.css');
@import url('helper.css');
@import url('buttons.css');
@import url('inputs.css');
@import url('breadcrumb.css');
@import url('alert.css');
@import url('callout.css');
@import url('loader.css');
@import url('responsive.css');
@import url('axtaris.css');

/* Override file to ensure pixel-perfect rendering - must be last */
@import url('override.css');
